@import './normalize';
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@400;500;700;900&display=swap');

* {
  box-sizing: border-box;
  &::before,
  &::after {
    box-sizing: border-box;
  }
}
html {
  width: 100%;
  //overflow-x: hidden;
}
body,
#root {
  font-family: 'Noto Sans KR';
  > main {
    section {
      padding-top: 131px;
    }
  }
}

body {
  padding: 0 !important;
}
ul,
ol,
dl {
  list-style: none;
  margin: 0;
  padding: 0;
}

button,
a {
  cursor: pointer;
}
a {
  text-decoration: none;
  color: inherit;
}
header {
  position: fixed;
  width: 100%;
  top: 0;
}
.css-1xy4ick-container {
  width: 80px;
  height: 80px;
  background-color: #fff;
  box-shadow: 0 1px 4px #707070;
  border: none;
}
.mo {
  display: none;
}
.pc {
  display: block;
}

.container {
  position: relative;
  background-color: #1f2437;
  height: 100%;
}

.content {
  position: relative;
  padding: 100px 160px;
  max-width: 1260px;
  margin: 0 auto;
  .tit {
    h1 {
      font-size: 43px;
      letter-spacing: -1.2px;
    }
  }
  .sub_tit {
    h2 {
      font-size: 32px;
      letter-spacing: -1.2px;
    }
    p {
      font-size: 14px;
      color: #8f929b;
      line-height: 30px;
      margin-bottom: 30px;
      letter-spacing: -0.6px;
    }
  }
}

/* Color Set */
.MuiButton-root {
  &.MuiButton-containedPrimary {
    font-weight: 600;
    background-color: #4063ec;
    box-shadow: none;
    border-radius: 0;
    &:hover {
      background-color: #4063ec;
      box-shadow: none;
      border-radius: 0;
    }
  }

  &.MuiButton-outlinedPrimary {
    font-weight: 600;
    border-color: #4063ec;
    border-radius: 0;
    &:hover {
      background-color: #fff;
    }
  }

  &.MuiButton-containedSecondary {
    font-weight: 600;
    background-color: #9b9b9b;
    box-shadow: none;
    border-radius: 0;
    &:hover {
      background-color: #9b9b9b;
      box-shadow: none;
      border-radius: 0;
    }
  }
}

/* icon buttons */
.ico {
  display: inline-block;
  background-repeat: no-repeat;
  background-position: center;
}
.ico.ico-trash {
  width: 24px;
  height: 24px;
  background-image: url(../../../usp/public/images/common/icon_trash.png);
}
.ico.ico-plus {
  width: 24px;
  height: 24px;
  background-image: url(../../../usp/public/images/common/icon_plus.png);
}
.ico.ico-box-cancel {
  width: 26px;
  height: 26px;
  background-image: url(../../../usp/public/images/common/icon_box_cancel.png);
}
.ico.ico-box-plus {
  width: 26px;
  height: 26px;
  background-image: url(../../../usp/public/images/common/icon_box_plus.png);
}

button.MuiButton-containedPrimary.gray {
  background-color: #adaeb2;
  &:hover {
    background-color: #adaeb2;
  }
}

.ellipis {white-space: nowrap;overflow: hidden;text-overflow: ellipsis;}

@media (min-width: 320px) and (max-width: 850px) {
  .mo {
    display: block;
  }
  .pc {
    display: none;
  }
  body,
  #root {
    > main {
      section {
        padding-top: 60px;
      }
    }
  }
  .content {
    padding: 20px 15px 60px;
    .tit {
      h1 {
        font-size: 28px;
      }
    }
    .sub_tit {
      h2 {
        font-size: 20px;
      }
      p {
        font-size: 14px;
        margin-bottom: 30px;
      }
    }
  }
}
